@media screen and (max-width: 425px) {
  header {
    padding: 10px 15px;
  }

  .hero {
    padding: 50px 15px;
  }

  .hero .profile {
    width: 180px;
    height: 180px;
  }

  .hero .content h1 {
    font-size: 2rem;
  }

  .hero .content p {
    font-size: 1.4rem;
  }

  .hero .content .buttons {
    gap: 8px;
  }

  .hero .content .buttons a {
    font-size: 0.9rem;
    padding: 10px 20px;
    width: 130px;
  }

  footer {
    padding: 10px;
    font-size: 0.8rem;
  }
}
