@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 80px 30px;
  }
  
  .hero .profile {
    width: 220px;
    height: 220px;
  }

  .hero .content h1 {
    font-size: 3rem;
  }

  .hero .content p {
    font-size: 2rem;
  }
  
  .hero .content .buttons {
    flex-direction: column;
    align-items: center;
  }

  .hero .content .buttons a {
    font-size: 0.9rem;
    padding: 10px 25px;
  }

  .about {
    padding: 80px 25px;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1.2rem;
  }
}
