@media screen and (max-width: 1024px) {
  .hero .profile {
    width: 220px;
    height: 220px;
  }

  .hero .content h1 {
    font-size: 2.2rem;
  }

  .hero .content p {
    font-size: 1.6rem;
  }

  .hero .content .buttons a {
    font-size: 0.9rem;
    padding: 10px 25px;
  }

  .about {
    padding: 80px 25px;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1.2rem;
  }
}
